<% if current_user %>
  <%= content_tag :nav,
    class: "navbar navbar-success" do %>
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id= "user" class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <%= content_tag :li,
                class: "active" do
                link_to home_index_path do 
                  (content_tag :i, "", class: "fa fa-home") + " Accueil"
                end
            end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" id="user" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i><%= " " + current_user.email %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="badge badge-danger pull-right">3</span>Action</a></li>
                <li><a href="#">Autre action</a></li>
                <li><a href="#"><span class="badge badge-success pull-right">3</span>Exemple</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Titre exemple</li>
                <li><a href="#">Lien séparer</a></li>
                <li><a href="#">Autre lien séparer</a></li>
              </ul>
            </li>
            <%= content_tag :li do
              link_to destroy_user_session_path, method: :delete do
                (content_tag :i, " Déconnexion", class: "fa fa-sign-out text-danger")
              end
            end %>
          </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  <% end %>
<% else %>
  <%= content_tag :nav,
    class: "navbar navbar-default" do %>
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <%= content_tag :li,
              class: "active" do
                link_to home_index_path do 
                  (content_tag :i, "", class: "fa fa-home") + " Accueil"
                end
            end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%= content_tag :li do
              link_to new_user_registration_path do
                (content_tag :i, " Inscription", class: "fa fa-sign-in text-success")
              end
            end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connexion<span class="caret"></span></a>
              <ul class="dropdown-menu">
              <form class="new_user" id="new_user" action="/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
                <input type="hidden" name="authenticity_token" value="MnT0gETAkiFNEKVceUNnwwgOzqBpJ+EKI+my4BfhArjannHussd1LFxtbXjT6AxOoi658UuwPen4OZ9j/L8Gvg==" />
                <div class="field">
                  <div class="form-inline">
                    <div class="input-group">
                      <span for="user_email" class="input-group-addon"><i class="fa fa-at"></i></span>
                      <input autofocus="autofocus" class="form-control" type="email" value="" name="user[email]" id="user_email" placeholder="Email" aria-describedby="basic-addon"> 
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="form-inline">
                    <div class="input-group">
                      <span for="user_password" class="input-group-addon"><i class="fa fa-unlock"></i></span>
                      <input autocomplete="off" class="form-control" type="password" name="user[password]" id="user_password" placeholder="Mot de passe" aria-describedby="basic-addon">
                    </div>
                    <%= link_to "Mot de passe oublié ?", new_user_password_path %><br />
                  </div>
                </div> 
                <div class="form-inline">
                  <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
                  <label for="user_remember_me">Souviens-toi de moi</label>
                </div>
                <div class="actions">
                  <div class="form-inline">
                    <button type="submit" name="commit" value="Log in" data-disable-with="Log in" class="btn btn-xs btn-primary pull-left"><i class="fa fa-check"></i> Valider</button>
                 </div> 
                </form> 
              </ul>
            </li>
           </ul> 
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  <% end %>
<% end %>